.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
docs/*
vignettes/articles/*_cache/*
cache*
cran-comments.md
^revdep$
dev
revdep/
docs/
man/figures/*.png
!README-readme-contingencias-1.png
CRAN-SUBMISSION
